* {
  font-family: "rubik";
}

body {
  background-color: #f5f5f5;
}

.back-button {
  align-self: flex-start;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  max-width: 50rem;
  margin: 3rem auto;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding-bottom: 0;
}

.payment-form {
  width: 100%;
  height: fit-content;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 1rem;
}

.btn-primary {
  padding: 5px 15px;
  width: 100%;
  margin-top: 1.5rem;
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s, border 0.2s;
}

.payment-form .btn-primary:hover,
.payment-form .btn-primary:active {
  background-color: #cc0000;
  border-color: #cc0000;
}

.payment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.payment-card {
  width: 50px;
}
