/* Custom CSS */
* {
  font-family: "rubik";
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

th {
  text-align: center;
}
.back-button {
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 20px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
}

.return-arrow {
  margin-right: 15px;
  height: 18px;
  width: auto;
}

.back-button:hover {
  background-color: #cc0000;
  border-color: #cc0000;
}

.title {
  font-family: "rubik";
}

.button-container {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.styled-button {
  cursor: pointer;
  padding: 5px 10px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  font-size: 28px;
  flex: 1;
}

.selected {
  background-color: red;
  color: white;
}

.styled-button:hover {
  background-color: #ecf0f1; /* Light grey shade */
  color: #333; /* Dark grey color */
}
.arrow-icon {
  width: 16px;
  height: 16px;
}

.sort-btn {
  margin-left: 8px;
}

.credit-card {
  width: auto;
  height: 18px;
  margin-right: 8px;
}

.visa-card {
  width: auto;
  height: 28px;
  margin-right: 8px;
}

.badge {
  font-size: 14px;
  font-weight: 400;
}
